/* trending.css */
.card-img {
    width: 100%;
    height: 200px;  
    object-fit: cover;  
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.125rem;  
    font-weight: bold;
  }
  
  .card-author {
    font-size: 0.875rem;  
    color: #6b7280;  
  }
  
  .card-button {
    background-color: #4CAF50;  
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card-button:hover {
    background-color: #45a049;  
  }
  

  .scroll-to-top-btn {
    position: fixed;
    bottom: 20px;  /* Ajusta la distancia desde el fondo de la pantalla */
    right: 20px;   /* Ajusta la distancia desde el lado derecho de la pantalla */
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #45a049;  /* Color al pasar el ratón por encima */
  }
  
  .scroll-to-top-btn:focus {
    outline: none;  /* Quitar el borde de enfoque */
  }